.content-wrapper{
    background-color: #000000;
    color: #ffffff;
    padding: 20px;

    @media(min-width: 1200px){
        padding: 120px 147px;
        max-width: 1440px;
        margin: 0 auto;
    }
}